<footer>
  <div class="container">
    <div class="left-wrap">
      <div class="logo"></div>
    </div>
    <div class="mid-wrap">
      <div class="top-wrap">
        <h4>Văn phòng đại diện</h4>
        <p>73/5 đường số 7 khu phố 3 phường Linh tring thành phố Thủ Đức</p>
      </div>
      <div class="bottom-wrap">
        <h4>Tổng đài hỗ trợ</h4>
        <p>Đặt hàng: 0979259173</p>
        <p>CSKH: 0979259174</p>
      </div>
    </div>
    <div class="right-wrap">
      <div class="top-wrap">
        <h4>Liên hệ</h4>
        <a href="#">Liên hệ</a>
        <a href="#">Chính sách giao hàng</a>
        <a href="#">Chính sách bảo mật </a>
        <a href="#">Điều khoản và điều kiện </a>
      </div>
      <div class="bottom-wrap">
        <h4>Liên hệ với chúng tôi</h4>
        <div class="social">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
