<div class="nav_left_admin">
  <%= link_to "Quản lý khách hàng",admin_users_path, method: :get%>
  <%= link_to "Quản lý sản phẩm",admin_products_path, method: :get%>
  <%= link_to "Quản lý doanh thu",admin_users_path, method: :get%>
  <%= link_to "Quản lý hóa đơn",admin_products_path, method: :get%>
</div>
